
body {
    font-family: 'Aboreto', serif;
    text-align: center;
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px; 
    justify-items: center; 
    margin: 2px; 
}
.image-grid img {
    width: 220px; 
    height: auto;
    cursor: pointer; 
    transition: transform 0.2s;
    margin-top: 50px; 
}
.image-grid img:hover {
    transform: scale(1.05); 
    
}

a{
    text-decoration: none;
    color: black;
}


.subtitle {
    margin-top: -2px; 
    font-size: 20px; 
    color: #ffffff; 

}
.back-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    position: absolute;  
    top: 20px;        
    left: 20px;   
    margin-top :20px;    
    margin-left:20px;
}
  .back-button:hover {
    color: #acc4d7; /* Change color on hover */
}
.image-grid img {
    /* Set the perspective to make the flip effect visible */
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Flip animation on hover */
.image-grid img:hover {
    transform: rotateY(180deg);
}