body {
    font-family: 'Aboreto', serif;
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    text-align: center;
    overflow: hidden;
}
.back-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    position: absolute;  
    top: 20px;        
    left: 20px;   
    margin-top :20px;    
    margin-left:20px;    
}

.text-box {
    width: 20%;
    margin: 20px auto;
    text-align: left;
    margin-top: 90px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
    margin-right: 50px;
}

.image-flower {
    width: 50%; 
}


.image-flower img {
    margin-top: 50px;
    width: 600px; 
    height: auto;
    
}

content {
    width: 70%; 
}

h1{
    font-family: "aboreto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-top: 150px;
    margin-right: 180px;
}
.back-button:hover {
    color: #acc4d7; 
}

/* CSS for the zoom-in hover effect */
.image-flower img {
    transition: transform 0.1s ease; /* Smooth transition */
}

.image-flower img:hover {
    transform: scale(1.1); /* Scales the image up to 110% */
}