
body {
    font-family: 'Aboreto', serif;
    text-align: center;
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px; 
    justify-items: center; 
    margin: 2px; 
}

.image-grid a {
    text-decoration: none; /* Remove underline for links */
    color: inherit; /* Inherit text color */
    text-align: center; /* Center-align text inside grid items */
}

.image-grid img {
    width: 200px; 
    height: auto;
    cursor: pointer; 
    transition: transform 0.2s;
    margin-top: 120px; 
}

.image-grid img:hover {
    transform: scale(1.1); 
}

.subtitle {
    margin-top: -2px; 
    font-size: 20px; 
    color: #ffffff; 
}
.back-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    position: absolute;  
    top: 20px;        
    left: 20px;   
    margin-top :20px;    
    margin-left:20px;
}
  .back-button:hover {
    color: #acc4d7; 
  }