
body {
    margin: 0;
    background: #000000;
    overflow: hidden;
}

#mycanvas {
    animation: cinematic 10s ease-in-out forwards;
    -webkit-filter: brightness(1) saturate(0.9);
    position: absolute;
    top: -25%;
}

@-webkit-keyframes cinematic {
    0% { transform: rotateZ(20deg); opacity: 1; }
    75% { opacity: 1; transform: rotateZ(0deg); }
    100% { transform: rotateZ(-10deg); opacity: 1; }
}

#text {
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-family: 'Aboreto', serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1em;
    animation: zoom 10s forwards; 
}

@-webkit-keyframes zoom {
    0% { opacity: 0; transform: scale(0.5) translateY(-50%); -webkit-filter: blur(10px); }
    7.5% { opacity: 1; transform: scale(1) translateY(-50%); -webkit-filter: none; }
    90% { -webkit-filter: none; opacity: 1; }
    95% { opacity: 0.3; transform: scale(1.5) translateY(-50%); -webkit-filter: blur(10px); }
    100% { opacity: 1; transform: scale(1.5); } 
}
